# Environment variables
.env
.env.local
.env.production

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
.venv

# Node
node_modules/

# Tailwind
static/styles/output.css

# Django Static
staticfiles/
static_root/

# Node Configs
package.json
package-lock.json

# Tailwind Config
tailwind.config.js

# Agent
.agent/

# Seed Generated Images
static/images/profilepic.jpg
static/images/profiles/profilepic.jpg