# Core
Django==6.0.4
Pillow==11.3.0
python-decouple==3.8
whitenoise==6.12.0
gunicorn==26.0.0

# Database
dj-database-url==2.3.0
psycopg[binary]==3.3.2

# Authentication
django-allauth[socialaccount]==65.16.1

# Frontend / templates
django-htmx==1.27.0
django-widget-tweaks==1.5.0

# Email queue
django-mailer==2.3.2