{% extends "main.html" %}
{% load static %}
{% block content %}
    <!-- Main Section -->
    <main class="inbox my-xl">
        <div class="content-box">
            <h3 class="inbox__title">
                New Messages(<span>{{ un_read }}</span>)
            </h3>
            <ul class="messages">
                {% for message in profile.messages.all %}
                    {% if message.is_read %}
                        <li class="message message">
                        {% else %}
                            <li class="message message--unread">
                            {% endif %}
                            <a href="{% url 'message' message.id %}">
                                <span class="message__author">{{ message.name }}</span>
                                <span class="message__subject">{{ message.subject }}</span>
                                <span class="message__date">{{ message.created_at }}</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </main>
    {% endblock content %}
