{% extends "main.html" %}
{% load static %}
{% block content %}
    {% partialdef send-message-partial inline %}
    <!-- Main Section -->
    <main class="my-[8rem] animate-fade-in" id="form-container">
        <div class="content-box">
            <a class="btn btn--transparent text-[1.4rem]"
               href="{% url 'profile_detail' pk=recipient.id %}"
               hx-target="#form-container"
               hx-swap="outerHTML show:window:top">
                <svg xmlns="http://www.w3.org/2000/svg"
                     fill="none"
                     viewBox="0 0 24 24"
                     stroke-width="1.5"
                     stroke="currentColor"
                     class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3" />
                </svg>
            </a>
            <h3 class="text-[2.4rem] font-bold text-sub mt-[2rem] mb-[0.5rem]">Send Message</h3>
            <p class="text-text/60 mb-[2rem] text-[1.4rem]">Write a message to {{ recipient.name }}.</p>
            <form class="form"
                  hx-post="{% url 'send_message' pk=recipient.id %}"
                  hx-target="#form-container"
                  hx-swap="outerHTML">
                {% if request.user.is_authenticated %}
                    <div class="form__field">
                        <label for="formInput#text">{{ message_form.subject.label }}</label>
                        {{ message_form.subject }}
                        {% for error in message_form.subject.errors %}
                            <span class="text-[1.3rem] font-medium text-error block mt-1">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form__field">
                        <label for="formInput#text">{{ message_form.body.label }}</label>
                        {{ message_form.body }}
                        {% for error in message_form.body.errors %}
                            <span class="text-[1.3rem] font-medium text-error block mt-1">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {% for field in message_form %}
                        <div class="form__field">
                            <label for="formInput#text">{{ field.label }}</label>
                            {{ field }}
                            {% for error in field.errors %}
                                <span class="text-[1.3rem] font-medium text-error block mt-1">{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endfor %}
                {% endif %}
                <input class="btn btn--sub text-[1.4rem] my-[2rem]"
                       type="submit"
                       value="Send Message" />
            </form>
        </div>
    </main>
{% endpartialdef %}
{% endblock content %}
