{% extends "main.html" %}
{% load static %}
{% block content %}
    <!-- Main Section -->
    <main class="my-[8rem] animate-fade-in">
        <div class="content-box">
            <a class="back-btn" href="{% url 'account' %}"><i class="im im-angle-left"></i></a>
            <h3 class="text-[2.4rem] font-bold text-sub mt-[2rem] mb-[0.5rem]">Add Skill</h3>
            <p class="text-text/60 mb-[2rem] text-[1.4rem]">Add a new skill to your developer profile.</p>
            <form class="form" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form__field">
                        <label for="formInput#text">{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endfor %}
                <input class="btn btn--sub text-[1.4rem] my-[2rem]" type="submit" value="Save Skill" />
            </form>
        </div>
    </main>
{% endblock content %}
