{% extends "main.html" %}
{% block content %}
    <main class="my-[8rem] animate-fade-in">
        <div class="content-box text-center">
            <a class="back-btn mx-auto mb-[2rem]" href="{% url 'project_detail' project.id %}"><i class="im im-angle-left"></i></a>
            <h3 class="text-[2.4rem] font-bold text-sub mb-[1rem]">Delete Project</h3>
            <form class="form" method="post">
                {% csrf_token %}
                <p class="text-[1.6rem] text-text/70 my-[2rem]">Are you sure you want to delete <strong class="text-sub">{{ project|title }}</strong>?</p>
                <div class="flex justify-center gap-[1.5rem] mt-[3rem]">
                    <a class="btn btn--transparent text-[1.4rem]"
                       href="{% url 'project_detail' project.id %}">&#x2190 Go Back</a>
                    <input class="btn bg-error text-white border-error hover:bg-error/80 hover:border-error/80 text-[1.4rem]" type="submit" value="Delete" />
                </div>
            </form>
        </div>
    </main>
{% endblock content %}
