{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description"
              content="DevSearch - Connect with Developers! Find and collaborate with talented developers in your area." />
        <meta name="keywords"
              content="developers, programming, collaboration, coding, tech" />
        <!-- Favicon -->
        <link rel="shortcut icon"
              href="{% static 'images/favicon.ico' %}"
              type="image/x-icon" />
        <!-- Icon - IconMonstr -->
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/iconmonstr-iconic-font@1.3.0/iconmonstr-iconic-font.min.css" />
        <!-- DevSearch UI (Tailwind) -->
        <link rel="stylesheet" href="{% static 'styles/output.css' %}" />
        <!-- HTMX -->
        <script src="{% static 'js/htmx.min.js' %}" defer></script>
        <title>DevSearch - Connect with Developers!</title>
    </head>
    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' hx-boost="true">
        {% include "navbar.html" %}
        <!-- SweetAlert2 -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <!-- Django Messages to JavaScript -->
        <script id="django-messages" type="application/json">
            [
                {% for message in messages %}
                    {"message": "{{ message|escapejs }}", "tags": "{{ message.tags }}"}{% if not forloop.last %},{% endif %}
                {% endfor %}
            ]
        </script>
        <div id="main-content">
            {% block content %}
            {% endblock content %}
        </div>
        <script src="{% static 'js/main.js' %}" defer></script>
    </body>
</html>
