{% load static %}
{% if page_obj.has_other_pages %}
    <div class="pagination">
        <ul class="container">
            {% if page_obj.has_previous %}
                <li>
                    <a href="?page={{ page_obj.previous_page_number }}&search_query={{ search_query }}"
                       class="btn">&#10094; Prev</a>
                </li>
            {% endif %}
            <li>
                <a href="?page={{ page_obj.number }}" class="btn btn--sub">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
            </li>
            {% if page_obj.has_next %}
                <li>
                    <a href="?page={{ page_obj.next_page_number }}&search_query={{ search_query }}"
                       class="btn">Next &#10095;</a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endif %}
